/* Cllif */

/* Fonts */
@font-face {
    font-family: 'corbertregular';
    src: url('../font/corbert-regular-webfont.eot');
    src: url('../font/corbert-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/corbert-regular-webfont.woff') format('woff'),
         url('../font/corbert-regular-webfont.ttf') format('truetype'),
         url('../font/corbert-regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Comp */
body{font-family: 'corbertregular'}
.center{margin-left: auto; margin-right: auto;}

.transform{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.content{
	position: relative;
	width: 1000px
}

/* Home */
#bg-home{
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.home{height: 680px;}

.logo{
	height: 245px;
	position: relative;
	top: 40px;
	width: 246px;
}

.text-home{
	background-image: url("../img/comp/text-home.png");
	bottom: 70px;
	display: block;
	height: 230px;
	left: 50%;
	margin-left: -128px;
	position: absolute;
	width: 286px;
}

.down{
	border-bottom: 10px solid #fff;
	border-left: 10px solid #fff;
	bottom: 20px;
	height: 20px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	width: 20px;

	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.down:hover{
	cursor: pointer;
	-webkit-transform:scale(1.2) rotate(-45deg);
	-moz-transform:scale(1.2) rotate(-45deg);
	-o-transform:scale(1.2) rotate(-45deg);
	-ms-transform:scale(1.2) rotate(-45deg);
	transform:scale(1.2) rotate(-45deg);
}

/* Nos */
.nos{background-color: #eee; min-height: 860px !important;}

.logo-nos{
	height: 116px;
	position: relative;
	width: 226px;
}

#bola-content{
	display: block;
	border: 1px solid #000;
	border-radius: 50%;
	height: 413px;
	position: absolute;
	width: 413px;
}
.bola-content-aspa{
	position: absolute;
	width: 73px;
	height: 55px;
}
#bola-content-aspa-top{
	background: url("../img/comp/aspa.png");
	left: 80px;
	top: 70px;
}
#bola-content-aspa-bottom{
	background: url("../img/comp/aspa2.png");
	left: 250px;
	top: 300px;
}
#bola-content-txt{
	position: absolute;
	text-align: center;
	width: 380px;
	top: 140px;
	left: 15px;
}

.bola-cllifer{
	border: 1px solid #000;
	border-radius: 50%;
	height: 175px;
	position: absolute;
	width: 175px;
}

.bola-cllifer-in{
	border-radius: 50%;
	height: 158px;
	left: 50%;
	margin-left: -79px;
	margin-top: -79px;
	position: absolute;
	width: 159px;
	top: 50%;
}

.taina{right: 49px; top: 159px;}
#taina-pic{background: url("../img/comp/cliffers/taina.png") no-repeat;}

.julio{right: 161px; top: 380px;}
#julio-pic{background: url("../img/comp/cliffers/julio.png") no-repeat;}

.victor{right: 361px; top: 560px;}
#victor-pic{background: url("../img/comp/cliffers/victor.png") no-repeat;}

.vinicius{right: 631px; top: 662px;}
#vinicius-pic{background: url("../img/comp/cliffers/vinicius.png") no-repeat;}


/* Clientes */
.clientes{background-color: #333; min-height: 674px;}

.clientes-title{
	position: relative;
	text-align: center;
}

.clientes h1{
	color: #666; 
	font-size: 70px; 
	font-weight: normal;
	margin: 0;
}

